@mixin flex($jc,$ai){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-wrap: wrap;
    justify-items: center;
}
@mixin res($max){
    @media(max-width:$max){
        @content;    
    }
}

